body {
    font-size: 16px;
    margin: 0px;
    font-family: 'Heebo', sans-serif;
    background-color: rosybrown;
}
  
/** HEADER **/
#header-nav {
    background-color: #FF5B53;

}
  
#logo-img {
    width: auto;
    height: 50px;
}

.navbar-brand{
    padding-top: 2px;
    line-height: 0;
    padding-left: 20px;

}

.navbar-brand h1{
    font-weight: bolder;
    font-family: cursive;
    color: red;
}

.navbar-brand h1:hover{
    color:rgb(75, 170, 67);
}

a:hover {
    color: #000000;
    text-decoration: none;
  }
  
  a:not([href]):not([class]) {
    color: inherit;
    text-decoration: none;
  }
  
  a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
  }
  
  
 
